{%extends "page.html"%}
{%block title%}/{{share_id}}/{%endblock%}

{%block contents%}
{% raw %}
<div style="margin-top:1em;" ng-controller="ShareController">
  <div ng-show="!info.error">
    <ol class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li>
        <a href="" ng-click="move_to('')"><span class="glyphicon" ng-class="{true:'glyphicon-folder-open',false:'glyphicon-folder-close'}[path_elements.length == 0]"></span> {{info.share_name}}</a>
        <span ng-show="info.eden && path_elements.length == 0"><a class="btn btn-success btn-xs" href="{{eden_link(info.share_name,path)}}">エクスプローラで開く</a> <a ng-click="iehelp()" href=""><span class="glyphicon glyphicon-question-sign"></span></a></span>
      </li>
      <li ng-repeat="elem in path_elements">
        <span ng-show="!$last">
          <a href="" ng-click="move_to(path_elements.slice(0,$index + 1).join('/'))"><span class="glyphicon glyphicon-folder-open"></span> {{elem}}</a>
       </span>
        <span ng-show="$last"> 
          <span class="glyphicon glyphicon-folder-open"></span>
          {{elem}}
         <span ng-show="info.eden">
            <a class="btn btn-success btn-xs" href="{{eden_link(info.share_name,path)}}">エクスプローラで開く</a>
            <a ng-click="iehelp()" href=""><span class="glyphicon glyphicon-question-sign"></span></a>
          </span>
        </span>
      </li>
    </ol>
  </div>
  <div style="margin:1em;" class="alert alert-danger" ng-show="info.error">
    システムエラー: ブラウザの再読み込みボタンを押して再試行してください。
  </div>

  <div style="margin-bottom:0.5em;">
    <div ng-show="info.count > 0">
      <h3>検索キーワード <small>配下{{info.count}}件のファイルから検索します<span ng-show="info.queued"> (インデックス更新待ち{{info.queued}}件)</span></small></h3>
      <p><input type="text" ng-model="q" placeholder="keyword" size="50" focus="true"/> <span ng-show="search.$resolved === false"><span class="glyphicon glyphicon-refresh"></span> 検索中...</span></p>
      <p>表示件数 
        <label class="radio-inline"><input type="radio" ng-model="limit" ng-value="20">20件ずつ</label>
        <label class="radio-inline"><input type="radio" ng-model="limit" ng-value="50">50件ずつ</label>
        <label class="radio-inline"><input type="radio" ng-model="limit" ng-value="100">100件ずつ</label>
      </p>
    </div>
    <div ng-show="info.count + info.queued == 0">
      <div class="alert alert-warning">このフォルダの配下には検索可能なファイルがありません。</div>
    </div>
  </div>

  <div style="margin:1em;" ng-show="result">
    <h4>'{{result.q}}'の検索結果 <small ng-show="result.count &gt; 0">{{result.count}}件中{{result.rows.length}}件</small> <small>検索時間 {{result.time|number:2}}秒</small></h4>
    <p class="text-center" ng-show="result.count > result.rows.length"><pagination ng-model="result.page" ng-change="pageChanged()" items-per-page="limit" max-size="10" boundary-links="true" total-items="result.count" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></p>
    <div class="alert alert-warning" ng-show="thereAreDeletedFiles">
      取り消し線表示されているファイルは削除されているかフォルダが変更されています。
      フォルダの移動や名称変更が検索インデックスに反映されるまでには時間がかかることがあります。
    </div>
    <div ng-show="result.count > 0" ng-repeat="row in result.rows" class="media" ng-style="row.exists? {} : {'text-decoration':'line-through'}">
      <a class="pull-left" ng-click="(row.size >= 0)? open_file(row.dir,row.name) : move_to(join_path(row.dir,row.name))" href="">
        <img ng-src="/static/img/filetype/{{filetype(row)?filetype(row):'unknown'}}.png" width="64" height="64"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a ng-click="(row.size >= 0)? open_file(row.dir,row.name) : move_to(join_path(row.dir,row.name))" href="">
            <span ng-show="row.snippets.name.length > 0" ng-repeat="snippet in row.snippets.name"><span ng-bind-html="snippet"></span></span>
            <span ng-show="!row.snippets.name || row.snippets.name.length == 0">{{row.name}}</span>
          </a>
          <small><span ng-show="row.size >= 0">{{row.size|number}}バイト</span><span ng-show="row.size < 0">フォルダ</span> {{row.mtime * 1000|date:'yyyy-MM-dd HH:mm'}}更新</small>
        </h4>
        場所: <a ng-click="move_to(row.dir)" href=""><span class="glyphicon glyphicon-folder-close"></span> {{row.dir}}</a><br/>
        <span ng-repeat="snippet in row.snippets.content">..<span ng-bind-html="snippet"></span>..</span>
      </div>
      {%endraw%}{%if not license%}{%raw%}
      <div ng-show="$index == 0" class="text-center" style="margin-top:1em;"><iframe src="http://blogparts.dmm.com/ranking?adid=eed7061f886cd1ee4aca80e33d41f4aa" height="150" width="400" scrolling="no" frameborder="0">
        この部分は iframe 対応のブラウザで見てください。
      </iframe></div>
      {%endraw%}{%endif%}{%raw%}
    </div>
    <p class="text-center" ng-show="result.count > result.rows.length"><pagination ng-model="result.page" ng-change="pageChanged()" items-per-page="limit" max-size="10" boundary-links="true" total-items="result.count" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination></p>
    <div ng-show="result.count == 0">
      該当するファイルはありません。
    </div>
  </div>
  <div style="margin:1em;" class="alert alert-danger" ng-show="result.error">
    検索エラー
  </div>

  <h3>フォルダの内容</h3>
  <table class="table table-condensed table-hover">
    <thead><tr><th>名称</th></tr></thead>
    <tbody>
      <tr ng-show="path != '/' && path != ''"><td><span class="glyphicon glyphicon-chevron-up"></span> <a href="" ng-click="move_to('..')">上の階層へ</a></td></tr>
      <tr ng-repeat="item in dir.rows">
        <td ng-show="item.is_dir">
          <span class="glyphicon glyphicon-folder-close"></span> <a href="" ng-click="move_to(join_path(path,item.name))">{{item.name}}</a>
        </td>
        <td ng-show="!item.is_dir">
          <span class="glyphicon glyphicon-file"></span> <a ng-show="info.eden" class="btn btn-success btn-xs" href="{{eden_link(info.share_name,path,item.name)}}">直接開く</a> <a href="" ng-click="open_file(path,item.name)">{{item.name}}</a>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-center" ng-show="dir.count > dir.rows.length">
    <pagination ng-model="dir.page" ng-change="dirPageChanged()" items-per-page="dir.limit" max-size="10" boundary-links="true" total-items="dir.count" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </p>
</div>
{%endraw%}
{%endblock%}
